*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #000; 
    color: white; 
}

/*fondo*/
body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/gymfondo.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1; 
}

/* Header Responsivo (Usando Flexbox) */
.site-header {
    background-color: #611414;
    color: #fff;
    border: 2px solid #fff;
    padding: 0rem 1rem; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}


/* Contenedor del Logo y Texto */
.logo-container {
    display: flex; 
    align-items: center;
    gap: 15px; 
}

.logo-img {
    height: 80px; 
    width: auto;
     max-width: 100%; 
}

#logo-text h2, #logo-text p {
    color: #ffffff;
}

/* Navegación (Escritorio) */
.nav-list {
    list-style: none;
    display: flex; 
    gap: 1.5rem;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #f78e05;
}

 /* efecto responsive*/
@media (max-width: 768px) {
    .nav-list.hidden { 
        display: none;
    }
    
    .nav-list {
        display: flex; 
        flex-direction: column;
        width: 100%;
        background-color: #611414; 
        position: absolute; 
        top: 100px; 
        left: 0;
        z-index: 50;
        padding: 1rem;
        border-bottom: 2px solid white;
    }

    .site-header {
        position: relative; /* Necesario para el posicionamiento del menú */
    }
}

main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.services h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #2c3e50;
    margin-top: 2rem;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.service-card {
    background: #611414;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-card h3{
    color: #ffffff;

    }

    p {
    color: #ffffff;
}

/* pie */
#pie{
    width: 100%;
    height: 90px;
    background: #611414;
}

#pie #centro-pie{
    width: 800px; 
    max-width: 100%; 
    height: auto; 
    overflow: hidden;
    margin: auto;
}

.email{
    color: #fff;
    text-decoration: none;
}

/* Estilo para el Selector de Plan */
.input-group select {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
}

/* Estilo para las opciones del select */
.input-group select option {
    background-color: #611414; 
    color: white;
}

/* Estilo para el Área de Mensaje */
.input-group textarea {
    width: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: rgb(243, 239, 239);
    outline: none;
    resize: none; 
    transition: all 0.3s ease;
}

.input-group textarea:focus {
    background: rgba(0, 0, 0, 0.6);
    border-color: #101010;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Ajuste de márgenes para el grid de Tailwind en el formulario */
.grid {
    margin-bottom: 0px;
}

.input-group input {
    color: #000000; 
    
}

/* Este es el contenedor al centrado */
.contacto-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 90vh;       
    padding: 20px;           
}

/* contendor grande */
.form-container {
    width: 95%;           
    max-width: 800px;     
    background: rgba(97, 20, 20, 0.9);
    padding: 40px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid white;
}

.form-container h2, 
.form-container p {
    text-align: center;
}

.gym-form {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

/* tamaño de los contenedores del formulario */
.input-group input {
    width: 100%;          
    padding: 7px 10px;   
    font-size: 1.2rem;    
    letter-spacing: 0.5px; 
    box-sizing: border-box; 
}